<div class="footer">
    <div class="footer-row" style="border-bottom: 3px solid #2b404e;">
        <div class="foot-items">
            <h2 style="margin-bottom: 2%;">My favourite pages:</h2>
            <ul style="padding: 0%; margin-top: 0%;">
                <li><a href="/pages/cv.html">CV</a></li>
                <li><a href="/pages/projects.html">Projects</a></li>
            </ul>
        </div>

        <div class="foot-items" style="flex: 0.8;">
            <h2 style="margin-bottom: 1%;">About this website</h2>
            <p style="padding: 0%; margin-top: 0%;">I created this site to practice HTML, CSS and JavaScript. I use it as an online résumé 
                to allow me to more thoroughly store and demonstrate my projects and skills 
                in a way that does not fit in a traditional CV format. Thank you for being here!</p>
        </div>

        <div class="foot-items">
            <h2 style="margin-bottom: 2%;">Find me elsewhere:</h2>
            <ul style="padding: 0%; margin-top: 0%;">
                <li><i class="fa-brands fa-github"></i><a href="https://github.com/IdaNeinhardt" target="_blank">GitHub</a></li>
                <li><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/ida-neinhardt/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footer-row" style="margin-bottom: 0%;">
        <div class="foot-items">
            <p>“With freedom, flowers, books, and the moon, who could not be perfectly happy?”
                ― Oscar Wilde</p>
        </div>
    </div>
    <div class="footer-row"  style="justify-content: flex-end;">
        <p><i class="fa-regular fa-copyright"></i> Ida L. Neinhardt · 2025</p>
    </div>
</div>
