<div class="footer">
    <div class="footer-row" style="border-bottom: 3px solid #2b404e;">
        <div class="foot-items">
            <h2>Find me:</h2>
            <ul style="padding: 0%; margin-top: 0%;">
                <li><i class="fa-brands fa-github"></i><a href="https://github.com/IdaNeinhardt" target="_blank">GitHub</a></li>
                <li><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/ida-neinhardt/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>

        <div class="foot-items" style="flex: 0.8;">
            <h2>About This Site</h2>
            <p>On this page, I, Ida, will have a curated collection of my projects and other experiences.</p>
        </div>

        <div class="foot-items">
            <h2>My favourite pages:</h2>
            <ul style="padding: 0%; margin-top: 0%;">
                <li><a href="cv.html">CV</a></li>
                <li><a href="playground.html">Playground</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-row" style="margin-bottom: 0%;">
        <div class="foot-items">
            <p>“With freedom, flowers, books, and the moon, who could not be perfectly happy?”
                ― Oscar Wilde</p>
        </div>
    </div>
    <div class="footer-row"  style="justify-content: flex-end;">
        <p><i class="fa-regular fa-copyright"></i> Ida L. Neinhardt · 2025</p>
    </div>
</div>
