<div class="footer">
    <div class="foot-items">
        <h2>Find me:</h2>
        <ul style="padding: 0%; margin-top: 0%;">
            <li><i class="fa-brands fa-github"></i><a href="https://github.com/IdaNeinhardt" target="_blank">GitHub</a></li>
            <li><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/ida-neinhardt/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>

    <div class="foot-items">
        <h2>About This Site</h2>
        <p>Personal projects & experiments.</p>
    </div>
    
    <div class="foot-items">
        <h2>My favourite pages:</h2>
        <ul style="padding: 0%; margin-top: 0%;">
            <li><a href="cv.html">CV</a></li>
            <li><a href="playground.html">Playground</a></li>
        </ul>
    </div>
</div>
