<nav class="navbar">
    <button class="toggle-btn" id="toggleBtn">=</button>
    <ul class="nav-items">
        <li><a href="/pages/home.html">Home</a></li>
        <!-- <li><a href="/pages/about.html">About me</a></li> -->
        <li><a href="/pages/cv.html">CV</a></li>
        <li class="dropdown">
            <a href="/pages/projects.html">Projects</a>
            <ul class="dropdown-menu">
                <a href="/pages/projects/iGEM.html">iGEM</a>
                <a href="/pages/projects/FSP.html">First Step Project</a>
                <a href="/pages/projects/BScThesis.html">BSc Thesis</a>
                <a href="/pages/projects/VMFX70.html">Summer Research Scholarship</a>
                <a href="/pages/projects/SOFO.html">SOFO</a>
            </ul>
        </li>
    </ul>
</nav>