{% extends "layout.html" %}

{% block page_content %}

<div class="content-block">
    <h1>Ida L. Neinhardt</h1>
    <p>Bioinformatics | Immuno-oncology | QA & Industry Experience</p>
</div>


<section class="cv-section hidden">
    <h2>Education</h2>
    
    <!-- UNIL -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">University of Lausanne - Faculty of Biology and Medicine</span>
            <span class="cv-right">Lausanne, Switzerland</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">MSc in Molecular Life Science, Specialisation in Bioinformatics</span>
            <span class="cv-right">Aug. 2023 - Jul. 2025</span>
        </div>
        <ul>
            <li><b>MSc Thesis Project (Ongoing):</b> Making Predictions Using Machine Learning for CD4+ T-cell Epitopes</li>
            <li><b>First-Step Project:</b> the Mechanisms Behind SNARE Complex Disassembly Using Deep Learning</li>
            <li><b>Courses:</b> Data Analysis; Sequence a Genome I; Sequence a Genome II; Write a Review, Advanced Data Analysis; 
                Advanced Python Programming; Theory and Practice in Gene Expression Analysis; Advanced Population Genetics; Industrial BIoinformatics; 
                Population Genetics and Dynamics; Development of the Nervous System; Genomics, Proteomics and Quantitative Genetics; iGEM; 
                Social Innovation Lab; Write a Fellowship; CRISPR-Cas9 Genome Editing</li>
        </ul>
    </div>

    <!-- Lund University -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">Lund University - Faculty of Medicine</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">BSc in Biomedicine</span>
            <span class="cv-right">Aug. 2020 - Jun. 2023</span>
        </div>
        <ul>
            <li><b>BSc Thesis Project:</b> Discovery of Novel Fibroblast Subtypes in Glioblastoma Using Single-Cell RNA Sequencing Analysis</li>
            <li><b>Courses:</b> Biology and Chemistry of the Cell; Biochemistry and Cellular Metabolism; Genetics and Genomics; 
                The Cell and its Environment; Developmental and Stem Cell Biology; From Neuron to Nervous System; and The Immune System; 
                Host-Pathogen interactions; Organ Systems and Homeostasis of the Human Body; Molecular Basis of Disease and Pharmacology and Drug Discovery; 
                Frontiers in Translational and Molecular Medicine; Applied Biomedicine</li>
        </ul>
    </div>

    <!-- Extra courses -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">Lund University/Luleå University</span>
            <span class="cv-right">Lund/Luleå, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Stand-Alone Courses</span>
            <span class="cv-right">2020 - 2021</span>
        </div>
        <ul>
            <li><b>Courses:</b>  Introduction to International Business; Business Statistics; The Firm in a Historical Setting;
                International Marketing; Financial Accounting; Financial Economics; Organisation and Leadership; Managing
                Digitalisation; Initial Programming in Java</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Work Experience</h2>

    <!-- Skånemejerier -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Skånemejerier</span>
            <span class="cv-right">Malmö, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Quality Engineer</span>
            <span class="cv-right">May. 2023 - Aug. 2023</span>
        </div>
        <ul>
            <li>Responsible for monitoring the quality of products and ensuring compliance with Good Manufacturing Practices
                (GMP) and site safety standards throughout the entire process of manufacturing dairy products.</li>
            <li>Communicated with international customers regarding product release.</li>
        </ul>
    </div>

    <!-- Polypeptide Group -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Polypeptide</span>
            <span class="cv-right">Malmö, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Process Technician</span>
            <span class="cv-right">Sep. 2022 - Apr. 2023</span>
        </div>
        <ul>
            <li>Controlled evaporation in the production of peptides in industrial production of active substances for
                pharmaceuticals.</li>
        </ul>
    </div>

    <!-- Lund University -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Lund University</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Research Assistant in the Ottosson Lab Group</span>
            <span class="cv-right">May. 2021 - Aug. 2021</span>
        </div>
        <ul>
            <li><b>Project:</b> Direct Reprogramming of Glial Cells into Interneurons</li>
            <li>Awarded the Summer Research Scholarship (VMFX70) from the Faculty of Medicine to support this research position.</li>
        </ul>
    </div>

    <!-- Haverdals Hemtjänst -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Haverdals Hemtjänst</span>
            <span class="cv-right">Halmstad, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Home Care Caregiver</span>
            <span class="cv-right">Feb. 2020 - Dec. 2020</span>
        </div>
        <ul>
            <li>Assisted elderly individuals in their homes with daily living activities, including meal preparation, administering
                medications, personal hygiene (bathing and bathroom assistance), grocery shopping, doctor visits, and
                recreational walks.</li>
            <li>Provided compassionate and reliable support to enhance their quality of life and maintain independence.</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Extracurricular Activities</h2>

    <!-- iGEM -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">iGEM</span>
            <span class="cv-right">Lausanne, Switzerland</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Member of the UNILausanne iGEM team</span>
            <span class="cv-right">Jan. 2024 - Oct. 2024</span>
        </div>
        <ul>
            <li>Adapted an image recognition software to fit with our project of biocontrol of Asian hornets.</li>
            <li>Coded the wiki that presented the team's work: <a href="https://2024.igem.wiki/unilausanne/">https://2024.igem.wiki/unilausanne/</a></li>
            <li><b>Awards:</b> Gold medal, nominated for best conservation project, best wiki and best presentation</li>
        </ul>
    </div>

    <!-- Synapse -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Synapse - Life Science Connect Sweden</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Vice-Chairperson</span>
            <span class="cv-right">May. 2021 - Jan. 2023</span>
        </div>
        <ul>
            <li>Head of the Recruitment Team</li>
            <li>Main responsible and host of the event <i>Crack your next job interview like a life-science pro</i>.</li>
            <li>Was part of group organising events in collaboration with companies with the aim of connecting life-science students with the industry.</li>
        </ul>
    </div>

    <!-- KI -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">The Karolinska Institute</span>
            <span class="cv-right">Stockholm, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Summer Research School with Biomedical Orientation</span>
            <span class="cv-right">May. 2019 - Aug. 2019</span>
        </div>
        <ul>
            <li><b>Project:</b> Effects of TCB-2 and DOI on Serotonin (5HT2A)- Dopamine (D2) Heteroreceptor Complexes in the
                Hippocampus of the Rat Brain and Their Relevance for Schizophrenia</li>
            <li>Was one of 20 from over 100 applicants to be chosen to partake in this research internship.</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Skillset</h2>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Programming languages:</span>
        </div>
        <ul>
            <li>Python (proficient), R (proficient), HTML (intermediate), CSS (intermediate), JAVA (novice)</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Languages:</span>
        </div>
        <ul>
            <li>Swedish (native), English (C2), French (B1)</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Practical Lab Skills:</span>
        </div>
        <ul>
            <li>PCR, Gel Electrophoresis, Microtomy, Microscopy, Immunofluorescence,
                Spectrophotometry, Flow Cytometry, Western Blot, CRISPR-Cas9</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Other Skills:</span>
        </div>
        <ul>
            <li>MS Office Suite, Public Speaking, Presentation Skills, Written & Oral Communication,
                Team Work & Collaboration, Critical Thinking, Problem Solving</li>
        </ul>
    </div>
</section>

<div class="content-block" style="padding: 30px;">
    <a href="static\images\Ida_Neinhardt_Resume.pdf" download>Download my CV</a>
</div>

{% endblock %}