{% extends "layout.html" %}

{% block page_content %}

<div class="content-block">
    <h1>Ida L. Neinhardt</h1>
    <p>Bioinformatics | Immuno-oncology | QA & Industry Experience</p>
</div>


<section class="cv-section hidden">
    <h2>Education</h2>
    
    <!-- UNIL -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">University of Lausanne - Faculty of Biology and Medicine</span>
            <span class="cv-right">Lausanne, Switzerland</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">MSc in Molecular Life Science, Specialisation in Bioinformatics</span>
            <span class="cv-right">Aug. 2023 - Jul. 2025</span>
        </div>
        <ul>
            <li><b>MSc Thesis Project (Ongoing):</b> Making Predictions Using Machine Learning for CD4+ T-cell Epitopes</li>
            <li><b>First-Step Project:</b> the Mechanisms Behind SNARE Complex Disassembly Using Deep Learning</li>
            <li><b>Courses:</b></li>
        </ul>
    </div>

    <!-- Lund University -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Lund University - Faculty of Medicine</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">BSc in Biomedicine</span>
            <span class="cv-right">Aug. 2020 - Jun. 2023</span>
        </div>
        <ul>
            <li><b>BSc Thesis Project:</b> Discovery of Novel Fibroblast Subtypes in Glioblastoma Using Single-Cell RNA Sequencing Analysis</li>
            <li><b>Courses:</b></li>
        </ul>
    </div>

    <!-- Extra courses -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Lund University/Luleå University</span>
            <span class="cv-right">Lund/Luleå, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Stand-Alone Courses</span>
            <span class="cv-right">2020 - 2021</span>
        </div>
        <ul>
            <li><b>Courses:</b>  Introduction to International Business; Business Statistics; The Firm in a Historical Setting;
                International Marketing; Financial Accounting; Financial Economics; Organisation and Leadership; Managing
                Digitalisation; Initial Programming in Java</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Work Experience</h2>

    <!-- Skånemejerier -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Skånemejerier</span>
            <span class="cv-right">Malmö, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Quality Engineer</span>
            <span class="cv-right">May. 2023 - Aug. 2023</span>
        </div>
        <ul>
            <li>Responsible for monitoring the quality of products and ensuring compliance with Good Manufacturing Practices
                (GMP) and site safety standards throughout the entire process of manufacturing dairy products.</li>
            <li>Communicated with international customers regarding product release.</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Skills</h2>
    <p>Machine Learning, Data Analysis, Quality Assurance, Immuno-oncology</p>
</section>

<section class="cv-section hidden">
    <h2>Projects</h2>
    <p>iGEM 2024 (Dry Lab: Image Recognition, Website, Hardware)</p>
</section>

<div class="content-block">
    <p class="text-centre">Download my CV</p>
</div>

{% endblock %}