{% extends "layout.html" %}

{% block page_content %}

<div class="content-block">
    <h1>Ida L. Neinhardt</h1>
    <p>Bioinformatics | Immuno-oncology | QA & Industry Experience</p>
</div>


<section class="cv-section hidden">
    <h2>Education</h2>
    
    <!-- UNIL -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">University of Lausanne - Faculty of Biology and Medicine</span>
            <span class="cv-right">Lausanne, Switzerland</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">MSc in Molecular Life Science, Specialisation in Bioinformatics</span>
            <span class="cv-right">Aug. 2023 - Jul. 2025</span>
        </div>
        <ul>
            <li><b>MSc Thesis Project (Ongoing):</b> Making Predictions Using Machine Learning for CD4+ T-cell Epitopes</li>
            <li><b>First-Step Project:</b> Mechanisms Behind SNARE Complex Disassembly Using Deep Learning</li>
            <li>
                <b>Courses:</b> 
                <span class="course-container">
                    Data Analysis
                    <span class="course-description">
                        <b>Data Analysis:</b> In this course the goal is to be able to formulate hypotheses properly, design experiments, 
                        whether in the laboratory, in a clinic, or in the filed, that have sufficient power to test these hypotheses, 
                        conduct appropriate statistical tests of the data generated, generate clear figures, and interpret the results obtained.<br>
                        1. Distributions and random variables<br>
                        2. Variance, covariance and measures of association<br>
                        3. Constructing statistical tests using distributions<br>
                        4. Regression<br>
                        5. Non-linear regression<br>
                    </span>
                </span>;
                <span class="course-container">
                    Sequence a Genome I
                    <span class="course-description">
                        <b>Sequence a Genome I:</b> The goals of this class are to understand and practice the road map of sequencing, assembly and annotating a (bacterial) genome. 
                        The class is a combination of both practical aspects, theory, bioinformatics and presentation of genome analysis. We will work in small student groups.
                        The class starts with a short introduction on the biology of the microorganisms to be sequenced, introductions to high-throughput sequence technology and assembly.
                        After that a number of sessions in bioinformatics follow, first to learn to communicate in Unix, then to run assemblies on the sequence data sets produced by LGF.
                        We will teach and practice annotation and subsystems analysis. In the second semester, the class is followed with another practical part, annotation of the major important functions in the genome and presentation of results.
                    </span>
                </span>;
                <span class="course-container">
                    Sequence a Genome II
                    <span class="course-description">
                        <b>Sequence a Genome II:</b> The goals of the second part of this class are to learn how to carry out a comparative genome analysis. 
                        Groups of three students will work on different analysis project. At the end of the course the students will present their results to the other 
                        groups, try to integrate the different results and relate it to the biology of the organisms in question.<br><br>
                        Following up on the first semester, students will carry out a comparative genome analsyis covering various aspects such as:<br>
                        - Comparison of genome structures<br>
                        - Inferring genome-wide phylogenetic trees<br>
                        - Identifying clade-specific gene families<br>
                        - Assessing gene family evolution<br>
                        - Identifying mobile genetic elements<br>
                        - Inferring gene functions by homology and literature search<br>
                        - Working in a team and integrating results with other groups<br>
                        - Writing and presenting the results<br>

                    </span>
                </span>; 
                <span class="course-container">
                    Write a Review
                    <span class="course-description">
                        <b>Write a Review:</b> Students form groups of 2-3 and work under the guidance of an expert of the field (the tutor) to write a review article. Students have to follow precise guidelines regarding the review format.
                    </span>
                </span>;
                <span class="course-container">
                    Advanced Data Analysis
                    <span class="course-description">
                        <b>Advanced Data Analysis:</b> This course follow-up on the Data Analysis course  to introduce advanced statistical and algorithmic approaches tailored to the analysis of high-dimensional data.<br>
                        In this course we will cover:<br>
                        1. Penalized regression models<br>
                        2. Clustering analyses<br>
                        3. Dimensionality reduction techniques<br>
                        4. Introduction to deep learning<br>
                    </span>
                </span>;
                <span class="course-container">
                    Advanced Python Programming
                    <span class="course-description">
                        <b>Advanced Python Programming:</b> We will cover the following aspects of programing in Python:<br>
                        1. basic syntax<br>
                        2. data types in Python<br>
                    </span>
                </span>;
                <span class="course-container">
                    Theory and Practice in Gene Expression Analysis
                    <span class="course-description">
                        <b>Theory and Practice in Gene Expression Analysis:</b> The course will provide students with the analytical and computational tools for gene expression data 
                        analysis in many fields of biological sciences. A special focus will be on methodological/algorithmic aspects and their implementation. 
                        The students will have the opportunity to develop their analytical and computational skills, and will become familiar with standard tools for 
                        gene expression data analysis in different contexts. The course will contain processing of RNA-Seq data / Visualization, Clustering, Differential expression / Single-cell 
                        genomics. It will feature short theoretical introductions of important concepts, followed by practical implementations of methods in the 
                        form of R/python scripts. The practical parts will be organized as problem-solving tasks to be implemented in programming languages.
                    </span>
                </span>;
                <span class="course-container">
                    Advanced Population Genetics
                    <span class="course-description">
                        <b>Advanced Population Genetics:</b> An introduction to Molecular Anthropology, Coalescent theory. Tracing the peopling of the world through genomics.
                    </span>
                </span>;
                <span class="course-container">
                    Industrial Bioinformatics
                    <span class="course-description">
                        <b>Industrial Bioinformatics:</b> Students form groups of 2-3 and work under the guidance of an expert of the field (the tutor) to write a review article. Students have to follow precise guidelines regarding the review format.
                    </span>
                </span>;
                <span class="course-container">
                    Population Genetics and Dynamics
                    <span class="course-description">
                        <b>Population Genetics and Dynamics:</b> Gain an understanding of how genetics and genomics interact with demographic and selective processes, with a particular emphasis on inbreeding depression and genetic rescue
                    </span>
                </span>;
                <span class="course-container">
                    Development of the Nervous System
                    <span class="course-description">
                        <b>Development of the Nervous System:</b> Molecular and cellular mechanisms of brain development in vertebrates, including the main pathologies affecting CNS development. Important accent on the various experimental models used to analyze vertebrate CNS development, both in vivo and in vitro.<br>
                        1. CNS cell types & brain metabolism.<br>
                        2. Experimental models for the developing brain.<br>
                        3. Early development of vertebrate CNS.<br>
                        4. Neural crests and peripheral nervous system.<br>
                        5. Fundamental principles of CNS development.<br>
                        6. Molecular aspects of CNS development.<br>
                        7. Isolation and contacts between CNS and periphery.<br>
                        8. Pathologies of CNS development.<br>
                    </span>
                </span>;
                <span class="course-container">
                    Genomics, Proteomics and Quantitative Genetics
                    <span class="course-description">
                        <b>Genomics, Proteomics and Quantitative Genetics:</b> This course consists of four main components. Together these components introduce and give an overview of functional genomics from gene transcription to protein, and, finally, the phenotype. Besides providing a background, the techniques applied in the various approaches will be emphasized.<br>
                        1. Current sequencing technologies and their applications<br>
                        2. Epigenetics and chromatin structure<br>
                        3. Proteomics<br>
                        4. Analysis of Quantitative Traits<br>
                    </span>
                </span>;
                <span class="course-container">
                    iGEM
                    <span class="course-description">
                        <b>iGEM:</b> This course is for students who want to take part at the International Genetically Engineered Machine (iGEM) competition (www.igem.org). 
                        This is a worldwide synthetic biology competition. Synthetic Biology is an emerging interdisciplinary field combining aspects of molecular biology, systems biology, 
                        biotechnology, genetic engineering, computer science and many more to improve our understanding of biological systems and to create useful tools to solve everyday 
                        problems. The UNIL team can be composed of Bachelor and Master students in biology and other disciplines.<br><br>

                        By the end of the course, you are expected to be able to:<br>
                        - Discuss the definition of synthetic biology<br>
                        - Discuss tools and approaches used for engineering biological systems<br>
                        - Discuss the societal implications of synthetic biology<br>
                        - Develop a project and plan on how to execute it<br>
                        - Conduct independent experiments in a research (wet or dry) lab and document them<br>
                        - Present and defend a research project in front of a panel of international judges<br>
                        - Work in a multidisciplinary team<br>
                        - Show initiative, creativity, critical thinking and leadership skills
                    </span>
                </span>;
                <span class="course-container">
                    Social Innovation Lab
                    <span class="course-description">
                        <b>Social Innovation Lab:</b> The purpose of this interdisciplinary course is to provide students with the opportunity to learn about the need for, 
                        and impact of, social and sustainable innovation. The Social Innovation Lab course is designed to:<br>

                        - Familiarize students with systems thinking, integrating a reflection on the social and environmental interdependencies surrounding the project.<br>
                        - Make students aware of the richness and challenges of interdisciplinary teamwork (managing tensions, accepting differences, making the most of everyone's skills).<br>
                        - Support the development of skills in social innovation and sustainability, with the application of interdisciplinary tools and frameworks.<br>
                        - Structure a creative process to unleash students' creative potential by exposing them to an agile and iterative working style.<br>
                    </span>
                </span>;
                <span class="course-container">
                    Write a Fellowship
                    <span class="course-description">
                        <b>Write a Fellowship:</b> The student writes a research proposal that is typically addressing questions in the research area related to his/her master project. 
                        The research proposal has to follow precise guidelines. The student is closely supervised by his/her master supervisor who serves as the tutor for this course. 
                        The written proposal and a short oral presentation are both evaluated.
                    </span>
                </span>;
                <span class="course-container">
                    CRISPR-Cas9 Genome Editing
                    <span class="course-description">
                        <b>CRISPR-Cas9 Genome Editing:</b> The course is a combination of theory, practical work in the lab, and practical work behind the computer. More specifically, topics covered in this course are:<br>
                        - Theory: introduction to CRISPR-Cas9 genome editing, different types of CRISPR genome editing systems, CRISPR-fusion enzymes (CRISPRi, CRISPRa, base editing, methylation, precision editing, etc), and CRISPR screening<br>
                        - Wet lab work: assembling CRISPR-Cas9 guide RNA particles, transfection into cultured human cells, monitoring the outcome of gene editing using fluorescence microscopy<br>
                        - Dry lab work: guide RNA design, design of homologous recombination templates, predicting gene editing outcomes<br>
                    </span>
                </span>
                </li>
        </ul>
    </div>

    <!-- Lund University -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">Lund University - Faculty of Medicine</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">BSc in Biomedicine</span>
            <span class="cv-right">Aug. 2020 - Jun. 2023</span>
        </div>
        <ul>
            <li><b>BSc Thesis Project:</b> Discovery of Novel Fibroblast Subtypes in Glioblastoma Using Single-Cell RNA Sequencing Analysis</li>
            <li>
                <b>Courses:</b> 
                <span class="course-container">
                    Biology and Chemistry of the Cell
                    <span class="course-description">
                        <b>Biology and Chemistry of the Cell:</b> The course introduces general, analytical and organic chemistry with links to cell
                        biology, and the bioactivity, structure and solubility of organic molecules.<br>
                        The building blocks, structures and organelles of the cell are studied and form the
                        basis for discussions about the chemical processes that take place in the cell and
                        contribute to its function. Chemical nomenclature is studied and applied with a focus
                        on the biomedical subject area. The importance of functional groups in biomolecules 
                        is discussed and related to what drives chemical reactions in and outside the cell.
                        Acid-base theory is discussed and concepts such as pH and the pKa are related to the
                        biology of the cell. Chemical bonds in and outside the cell are compared and bond
                        strength is related to reactivity and stability. A large part of the course is devoted to
                        the genetic information carriers of the cell and how this information can be
                        transferred in cell division and protein synthesis.<br>
                        The course also includes scientific approach, academic integrity, searching for, and
                        handling, research references and the application of basic biostatistics and evaluation
                        of how data is presented in research journals. Group communication and active
                        learning are included as an important part of the course to prepare for future
                        sustainable learning. Study visits to a research laboratory at the University or in the
                        private sector are carried out to illustrate the future professional role of a biomedical
                        student and to constitute a basis for reflection.
                    </span>
                </span>;
                <span class="course-container">
                    Biochemistry and Cellular Metabolism
                    <span class="course-description">
                        <b>Biochemistry and Cellular Metabolism:</b> The course covers basics of biochemistry and cellular metabolism. Specifically, the
                        course aims to address questions around catabolism and anabolism, i.e. general
                        principles for metabolism of intermediate products and energy. The functions of
                        enzymes from an organic chemistry perspective will be highlighted. Special focus is
                        put on regulation of enzymatic activity and on absorption and metabolism of
                        nutrients such as carbohydrates, lipids and amino acids. The role of vitamins in health
                        and disease is illustrated from a biochemical perspective.
                    </span>
                </span>;
                <span class="course-container">
                    Genetics and Genomics
                    <span class="course-description">
                        <b>Genetics and Genomics:</b> The course covers basics of genetics and genomics with a focus on man. It includes
                        meiosis, Mendelian inheritance, linkage analysis and population genetics.
                        Furthermore, different types of genetic variation, pedigrees and associated diseases,
                        and risk assessment based on gene variants are discussed. Also somatic genetic
                        changes in cancer cells are included. The most common molecular genetic methods
                        with an emphasis on large-scale sequencing and functional analyses of genetic
                        variants are also included. The course also includes ethical aspects of
                        genetic/genomic knowledge and consequences of the increased use of genetic tests
                        in medicine.
                    </span>
                </span>;
                <span class="course-container">
                    The Cell and its Environment
                    <span class="course-description">
                        <b>The Cell and its Environment:</b>  The course involves specialisation but also a broadening of earlier courses in
                        biochemistry and basic cell biology in the Biomedicine programme.<br>
                        Different themes in cell biology are covered each week, such as intracellular signal
                        transduction, gene regulation and non-coding RNA, specialised cells and basic tissue
                        types, cell cycle and cancer, cell interactions, the extracellular matrix and the
                        movement of cells. The course focuses on the molecular and cellular mechanisms that
                        control cells and the basic functions of their surroundings. The course acts as a bridge
                        to future courses in e.g. neurobiology and immunology as well as human organ
                        systems and homeostasis by discussing specialised cells and their role in different
                        physiological and pathophysiological situations.<br>
                        In addition to knowledge of cell biology, the course provides experience in extracting,
                        interpreting and presenting information from research articles and training in solving
                        problems in cell biology experimentally through the application of cellular and
                        molecular biology methods. The course contains training components for GLP and
                        quality assurance in the development and production of drugs. The course also
                        provides training regarding working in groups and giving and receiving constructive
                        feedback.
                    </span>
                </span>;
                <span class="course-container">
                    Developmental and Stem Cell Biology
                    <span class="course-description">
                        <b>Developmental and Stem Cell Biology:</b>  The course covers basic principles in developmental biology and molecular genetics
                        with a special emphasis on developmental biology model systems in vertebrates and
                        invertebrates. Furthermore, the course covers the most important processes in early
                        embryo development, such as fertilisation, cell division, establishment of position
                        information, polarity and asymmetries, and formation of body axes and gastrulation
                        as preconditions for extremity development, regeneration and formation of the body's
                        most important organs. Finally, there is a discussion about the mechanisms behind the
                        self-renewal and differentiation of stem cells and the role of stem cells in renewal of
                        the body's tissues.<br>
                        The course also includes how developmental biology knowledge can be utilised in the
                        establishment of animal models for studies of human disease mechanisms. The course
                        aims to prepare students for work in a field that includes regenerative medicine and
                        stem cells.
                    </span>
                </span>;
                <span class="course-container">
                    From Neuron to Nervous System
                    <span class="course-description">
                        <b>From Neuron to Nervous System:</b> The course covers how the nervous system develops, its structure and how it
                        functions. The course consists of four modules with overlapping themes:<br>
                        - Module 1 is about development of the nervous system, the different cell types
                        and parts that form the nervous system and the functions these have.<br>
                        - Module 2 is about how neurons communicate with each another and how the
                        brain can be changed as a consequence of experiences.<br>
                        - Module 3 is about how the brain takes in information from the environment via
                        different sensory systems, how this information is integrated into the brain and
                        how the brain creates behaviour through influence on muscles.<br>
                        - Module 4 is about how pharmacologically active substances can influence the
                        brain and how the connection functions between the brain and cognition and
                        emotions.<br>
                        All modules will place an emphasis on which methods are used to produce
                        knowledge about the nervous system. The modules will also contain practical
                        components to concretise lectures and required reading.
                    </span>
                </span>;
                <span class="course-container">
                    The Immune System
                    <span class="course-description">
                        <b>The Immune System:</b> The course covers basic knowledge about immunology, how different barriers interact
                        with an aim to protect the host from infection or the development of cancer. Central
                        and peripheral tolerance is discussed and placed in relation to susceptibility to
                        infection and hypersensitivity reactions. Principles of immunisation are discussed and
                        related to the vaccination debate in society and the role of the mass media in
                        influencing public opinion.
                    </span>
                </span>;
                <span class="course-container">
                    Host-Pathogen interactions
                    <span class="course-description">
                        <b>Host-Pathogen interactions:</b> The course covers basic knowledge about bacteriology, virology and infection,
                        focusing on humankind. How the prokaryotic cell differs from the eukaryotic cell,
                        focusing on genetics, aspects of surface structures and secreted proteins. Bacterial
                        genetics and evolution are discussed in relation to infection and interaction with the
                        host. The following is also discussed: the basic principles of the development,
                        structure and replication cycle of viruses in relation to infection and immune response.
                        Scientific communication, evaluation of sources and the importance of research in
                        infection medicine to achieve the UN's Sustainable Development Goals are included as
                        an important part of the course.
                    </span>
                </span>;
                <span class="course-container">
                    Organ Systems and Homeostasis of the Human Body
                    <span class="course-description">
                        <b>Organ Systems and Homeostasis of the Human Body:</b>  The course focuses on integrative human physiology, which means how the internal
                        organ systems interact to maintain homeostasis. This includes the structure of the
                        organ systems (anatomy, histology) and their function and regulation (physiology).
                        The course includes the following organs and organ systems: the heart, the circulatory
                        system and the blood, the kidneys and the urinary tract, the respiratory system, the
                        digestive tract and accessory organs, endocrine organs and the reproductive organs.
                        The structure, function and regulation of the musculature is also studied. Integrated
                        knowledge of the autonomic nervous system and energy metabolism are also
                        included. The organ systems in question are studied from the cellular to systemic level.
                        Major emphasis is placed on the understanding of homeostatic regulation. The course
                        concerns how homeostasis is maintained at rest and under different conditions such
                        as physical activity and potentially homeostasis imbalance changes in the
                        surroundings. In order to explain physiological functions, the required anatomy and
                        histology is studied in parallel with physiology.<br> 
                       The students develop their expertise from previous courses with respect to scientific
                        approach. Furthermore, the students are introduced to physiological phenomena
                        through basic physiological examination methods.
                    </span>
                </span>;
                <span class="course-container">
                    Molecular Basis of Disease and Pharmacology and Drug Discovery
                    <span class="course-description">
                        <b>Molecular Basis of Disease and Pharmacology and Drug Discovery:</b> Diseases that integrate physiology, cellular biology and molecular biology with
                        pathophysiology and pharmacology are central to this course. The course aims to
                        provide a comprehensive perspective on organ system related diseases, their
                        complications and treatments at the molecular, cellular and systemic level. The course
                        starts with a focus on basic pathophysiology at the cellular and molecular levels and
                        an introduction to pharmacology with a focus on pharmacodynamics,
                        pharmacokinetics and toxicology. The course covers various aspects such as
                        pathophysiological mechanisms, pharmacological and non-pharmacological
                        interventions, the mechanisms of the impact of drugs at the molecular, cellular and
                        organ level and ethical considerations related to the UN Global Goals from a broad
                        perspective. During the course, different parts of the drug development process are
                        introduced – from the early pre-clinical stages to clinical trials and approval.
                    </span>
                </span>;
                <span class="course-container">
                    Frontiers in Translational and Molecular Medicine
                    <span class="course-description">
                        <b>Frontiers in Translational and Molecular Medicine:</b> During the course, the students will carry out integrated work on current research
                        results in e.g. cardiopulmonar medicine, neurology, infection/immunology,
                        endocrinology and oncology. Applications during the course include the writing of a
                        review article and a research programme focused on the areas of the course. During
                        the course, the students will also apply different strategies to inform the public about
                        current knowledge in translational and molecular medicine and to apply feedback
                        according to a scientific review procedure.
                    </span>
                </span>;
                <span class="course-container">
                    Applied Biomedicine
                    <span class="course-description">
                        <b>Applied Biomedicine:</b>  During the course, the students work on the bascis of project management,
                        organisation and planning of a biomedical research project that is to result in a project
                        plan. This includes how science is financed and evaluated as well as training in how to
                        compile a list of their own qualifications. The course also focuses on the
                        characteristics of scientific communication and what is required for publication with
                        regard to both content and ethics.<br>
                        Biostatistics has an important role in the course and includes the selection and
                        justification of statistical methods for biomedical projects as well as the identification
                        of strengths and weaknesses of different methods. Bioethics and societal benefit in
                        relation to the cost of the implementation of the projects will also be discussed and
                        debated.
                    </span>
                </span>
            </li>
        </ul>
    </div>

    <!-- Extra courses -->
    <div class="cv-entry hidden">
        <div class="entry-header">
            <span class="cv-left">Lund University/Luleå University</span>
            <span class="cv-right">Lund/Luleå, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Stand-Alone Courses</span>
            <span class="cv-right">2020 - 2021</span>
        </div>
        <ul>
            <li><b>Courses:</b> Introduction to International Business; Business Statistics; The Firm in a Historical Setting;
                International Marketing; Financial Accounting; Financial Economics; Organisation and Leadership; Managing
                Digitalisation; Initial Programming in Java</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Work Experience</h2>

    <!-- Skånemejerier -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Skånemejerier</span>
            <span class="cv-right">Malmö, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Quality Engineer</span>
            <span class="cv-right">May. 2023 - Aug. 2023</span>
        </div>
        <ul>
            <li>Responsible for monitoring the quality of products and ensuring compliance with Good Manufacturing Practices
                (GMP) and site safety standards throughout the entire process of manufacturing dairy products.</li>
            <li>Communicated with international customers regarding product release.</li>
        </ul>
    </div>

    <!-- Polypeptide Group -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Polypeptide</span>
            <span class="cv-right">Malmö, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Process Technician</span>
            <span class="cv-right">Sep. 2022 - Apr. 2023</span>
        </div>
        <ul>
            <li>Controlled evaporation in the production of peptides in industrial production of active substances for
                pharmaceuticals.</li>
        </ul>
    </div>

    <!-- Lund University -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Lund University</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Research Assistant in the Ottosson Lab Group</span>
            <span class="cv-right">May. 2021 - Aug. 2021</span>
        </div>
        <ul>
            <li><b>Project:</b> Direct Reprogramming of Glial Cells into Interneurons</li>
            <li>Awarded the Summer Research Scholarship (VMFX70) from the Faculty of Medicine to support this research position.</li>
        </ul>
    </div>

    <!-- Haverdals Hemtjänst -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Haverdals Hemtjänst</span>
            <span class="cv-right">Halmstad, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Home Care Caregiver</span>
            <span class="cv-right">Feb. 2020 - Dec. 2020</span>
        </div>
        <ul>
            <li>Assisted elderly individuals in their homes with daily living activities, including meal preparation, administering
                medications, personal hygiene (bathing and bathroom assistance), grocery shopping, doctor visits, and
                recreational walks.</li>
            <li>Provided compassionate and reliable support to enhance their quality of life and maintain independence.</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Extracurricular Activities</h2>

    <!-- iGEM -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">iGEM</span>
            <span class="cv-right">Lausanne, Switzerland</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Member of the UNILausanne iGEM team</span>
            <span class="cv-right">Jan. 2024 - Oct. 2024</span>
        </div>
        <ul>
            <li>Adapted an image recognition software to fit with our project of biocontrol of Asian hornets.</li>
            <li>Coded the wiki that presented the team's work: <a href="https://2024.igem.wiki/unilausanne/">https://2024.igem.wiki/unilausanne/</a></li>
            <li><b>Awards:</b> Gold medal, nominated for best conservation project, best wiki and best presentation</li>
        </ul>
    </div>

    <!-- Synapse -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Synapse - Life Science Connect Sweden</span>
            <span class="cv-right">Lund, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Vice-Chairperson</span>
            <span class="cv-right">May. 2021 - Jan. 2023</span>
        </div>
        <ul>
            <li>Head of the Recruitment Team</li>
            <li>Main responsible and host of the event <i>Crack your next job interview like a life-science pro</i>.</li>
            <li>Was part of group organising events in collaboration with companies with the aim of connecting life-science students with the industry.</li>
        </ul>
    </div>

    <!-- KI -->
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">The Karolinska Institute</span>
            <span class="cv-right">Stockholm, Sweden</span>
        </div>
        <div class="sub-header">
            <span class="cv-left">Summer Research School with Biomedical Orientation</span>
            <span class="cv-right">May. 2019 - Aug. 2019</span>
        </div>
        <ul>
            <li><b>Project:</b> Effects of TCB-2 and DOI on Serotonin (5HT2A)- Dopamine (D2) Heteroreceptor Complexes in the
                Hippocampus of the Rat Brain and Their Relevance for Schizophrenia</li>
            <li>Was one of 20 from over 100 applicants to be chosen to partake in this research internship.</li>
        </ul>
    </div>
</section>

<section class="cv-section hidden">
    <h2>Skillset</h2>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Programming languages:</span>
        </div>
        <ul>
            <li>Python (proficient), R (proficient), HTML (intermediate), CSS (intermediate), JAVA (novice)</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Languages:</span>
        </div>
        <ul>
            <li>Swedish (native), English (C2), French (B1)</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Practical Lab Skills:</span>
        </div>
        <ul>
            <li>PCR, Gel Electrophoresis, Microtomy, Microscopy, Immunofluorescence,
                Spectrophotometry, Flow Cytometry, Western Blot, CRISPR-Cas9</li>
        </ul>
    </div>
    <div class="cv-entry">
        <div class="entry-header">
            <span class="cv-left">Other Skills:</span>
        </div>
        <ul>
            <li>MS Office Suite, Public Speaking, Presentation Skills, Written & Oral Communication,
                Team Work & Collaboration, Critical Thinking, Problem Solving</li>
        </ul>
    </div>
</section>

<div class="content-block" style="padding: 30px;">
    <a href="static\images\Ida_Neinhardt_Resume.pdf" download>Download my CV</a>
</div>

{% endblock %}